@page
@model IndexModel

@{
    ViewData["Title"] = "Home page";
}

<h2>Here are our Speakers</h2>

@foreach (var speaker in Model.Speakers)
{

	<p><a href="mailto:@speaker.Email">@speaker.Name</a></p>

}